{{define "project"}}
{{template "header" .}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="well">
          
          <a href="/projects/upsert/{{.Model.Project.ID}}" class="text-muted pull-right">
            <span class="glyphicon glyphicon-pencil"></span>edit
          </a>
          <h3>{{.Model.Project.Title}}</h3>
          {{if .Model.Project.Description}}
            <p>{{.Model.Project.Description}}</p>
          {{end}}
        </div>
        <hr />
        {{range .Model.Project.Lines}}
				  {{if eq .Status "NOTE"}}
      					<div class='well well-sm'>
        					<a href="/project/{{.ProjectID}}/item/{{.ID}}"><i>{{.Text}}</i></a>
      					</div>
          {{else if eq .Status "LABEL"}}
        					<a href="/project/{{.ProjectID}}/item/{{.ID}}"><b>{{.Text}}</b></a><br />
    		  {{else}}
              <form action="/project/{{.ProjectID}}/item/{{.ID}}/toggle" method="POST" style="display: inline;">
                <button class="btn btn-link" type="submit">
                  {{if eq .Status "OPEN"}}
                    <span class="glyphicon glyphicon-unchecked"></span>
                  {{else if eq .Status "DONE"}}
                    <span class="glyphicon glyphicon-ok"></span>
                  {{else if eq .Status "CANCELLED"}}
                    <span class="glyphicon glyphicon-remove"></span>
                  {{else if eq .Status "MOVED"}}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  {{end}}
                </button>
              </form>
      					<a href="/project/{{.ProjectID}}/item/{{.ID}}">
        					&nbsp;{{.Text}}
      					</a><br />
    		  {{end}}
			  {{end}}
        <hr />
        <form method="POST"> 
        <input 
            placeholder='start with / note | . todo | * label'  
            name='newItemText' id='newItemText'
            class='form-control' autofocus>
        </form>
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}