{{define "project"}}
{{template "header" .}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="well">
          
          <a href="/projects/upsert/{{.Model.Project.ID}}" class="text-muted pull-right">
            <span class="glyphicon glyphicon-pencil"></span>edit
          </a>
          <h3>{{.Model.Project.Title}}</h3>
          {{if .Model.Project.Description}}
            <p>{{.Model.Project.Description}}</p>
          {{end}}
        </div>
        <hr />
        <hr />
        <div class="form-group">
          <input type="text" name="NewItem" id="NewItem" 
            placeholder="What should you be doing?" 
            class="form-control" />
          </div>
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}