{{define "project"}}
{{template "header" .}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{if .Model.Project.Title}}
      <h2 class="text-center">Project</h2>
      {{else}}
      <h2 class='text-center'>New Project</h2>
      {{end}}
      <form method="POST">
        <div class="form-group">
          <label class="form-label">Title</label>
          <input type="text" name="Title" id="Title" 
            value="{{.Model.Project.Title}}" 
            placeholder="Unknown project" 
            class="form-control" />
        </div>
        <p>
          To do - show list items and allow editing
        </p>
        <hr />
        <div class="form-group">
          <input type="text" name="NewItem" id="NewItem" 
            placeholder="What should you be doing?" 
            class="form-control" />
          </div>
        <button type="submit" class="btn btn-default">Submit</button>
          </form>
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}