{{define "header"}}
<!doctype html>
<html lang="en">
<head>
	<title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <script src='/js/jquery.js'></script>
    <script src='/js/bootstrap.js'></script>
    <script src='/js/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js'></script>
</head>
<body>
	<div class="row-fluid">
        <div class="navbar navbar-default">
            <div class="container">
              <div class="navbar-inner">
                  <ul class='nav navbar-nav'>
                  	<li>
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Journel <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="/">Today</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="#">Profile</a></li>
                        </ul>
                    </li>
                    {{if .IsProjectsView}}
                      {{if .IsProjectView}}
                        <li>
                           <a href="/projects" >Projects</a>
                        </li>
                      {{else}}
                        <li class="active">
                           <a href="/projects" >Projects</a>
                        </li>
                      {{end}}
                    {{else}}
                      <li>
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{.Year.Year}}</a>
                          <ul class="dropdown-menu" role="menu">
                          <li><a href="/month/201501">2015</a></li>
                          <li><a href="/month/201401">2014</a></li>
                          <li><a href="/month/201301">2013</a></li>
                          </ul>
                      </li>
                      <li {{if .IsDayView}}
                           {{else if .IsMonthView}}class="active"{{end}}>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {{.Year.Selected.Name}}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          {{range .Year.Months}}
                          <li class="{{if .Selected}}active{{end}}">
                            <a href="/month/{{.MonthCode}}" >
                              {{.Name}}
                            </a>
                          </li>
                          {{end}}
                        </ul>
                      </li>
                    {{end}}
                    {{if .IsDayView}}
                    <li class="active">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         {{.Month.SelectedDay.Name}}
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/month/{{.Year.Selected.MonthCode}}">Overview</a></li>
                        <li><a href="#">Month Tasks</a></li>
                        <li class="divider"></li>
                        {{range .Month.Days}}
                        <li {{if .Selected}}class="active"{{end}}>
                          <a href="/day/{{.DateAsString}}">{{.Name}}</a>
                        </li>
                        {{end}}
                      </ul>
                    </li>
                    {{end}}
                  </ul>
              </div>
            </div>
        </div>
      </div>
      
  {{if .Error}}
    <div class="container">
      <div class="alert alert-danger alert-dismissible" role="alert">
  		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  			<strong>Error!</strong> {{.Error}}
			</div>
		</div>
  {{end}}
  
  {{if .Success}}
    <div class="container">
      <div class="alert alert-success alert-dismissible" role="alert">
  		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  			<strong>Success!</strong> {{.Success}}
		  </div>
	  </div>
  {{end}}
  
  {{if .Warning}}
    <div class="container">
      <div class="alert alert-warning alert-dismissible" role="alert">
  		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  			<strong>Warning!</strong> {{.Warning}}
		  </div>
	  </div>
  {{end}}
  
  {{if .Info}}
    <div class="container">
      <div class="alert alert-info alert-dismissible" role="alert">
  		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  			<strong>Info!</strong> {{.Info}}
		  </div>
	  </div>
  {{end}}
  
{{end}}