{{define "index"}}
{{template "header" .}}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center">{{.Model.DateDisplay}}</h2>
			{{range .Model.DayItems}}
				{{if eq .Status "NOTE"}}
    				<div class='col-md-offset-3 col-md-6'>
      					<div class='well well-sm'>
        					<span><i>{{.Text}}</i></span>
      					</div>
    				</div>
    			{{else}}
    				<div class='col-md-offset-3 col-md-6'>
    					{{if eq .Status "OPEN"}}
    						<a href="/day/date/{{.ID}}/done" class="btn"><span class="glyphicon glyphicon-unchecked"></span></a>
    					{{else if eq .Status "DONE"}}
    						<a href="/day/date/{{.ID}}/cancel" class="btn"><span class="glyphicon glyphicon-checked"></span></a>
    					{{else if eq .Status "CANCELLED"}}
    						<a href="/day/date/{{.ID}}/open" class="btn"><span class="glyphicon glyphicon-ban-circle"></span></a>
    					{{end}}
      					<span>
        					&nbsp;{{.Text}}
      					</span>
    				</div>
    				{{end}}
			{{end}}
		</div>
	</div>
  <hr />
  <form method="POST">
    <div class='row'>
      <div class='col-md-offset-3 col-md-6'>
        <!-- <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-unchecked"></span>
              <span class="glyphicon glyphicon-pencil" style="display:none;"></span>
            </button> 
            <input type="hidden" id="newType" name="newType" value="OPEN" />
        </span>  -->     
        <input 
            placeholder='start with / for note or . for check item'  
            name='newItemText' id='newItemText'
            class='form-control'>
        <!-- </div> -->
      </div>
    </div>
  </form>
  <hr />
  <div class='row'>
    <div class='well'>
      <h4>To Do</h4>
      <ol>
        <li>Progressive Enhancement: Click to update type, check on change of text</li>
      </ol>
  </div>
</div>
{{template "footer" .}}
{{end}}