{{define "month"}}
{{template "header" .}}
<div class="container">
	<div class="row">
    <div class="col-xs-1">
      {{template "leftnavigation" .}}
    </div>
    <div class="col-xs-1">
      {{template "months" .Model.Year.Months}}
    </div>    
    <div class="col-xs-10">
      <div class="list-group left">
        {{range .Model.Month.Days}}
          <a href="/day/{{.DateAsString}}" class="list-group-item {{if .HasOpenItems}}list-group-item-warning{{else if .HasItems}}list-group-item-info{{end}}">{{.Display}}</a>
        {{end}}
      </div>
    </div>
{{template "footer" .}}
{{end}}