<div class='row'>
      <div class='col-md-9'>
        <h1>Lists   ({{listsCount}})</h1>
      </div>
      <div class='col-md-3'>
        {{#link-to 'lists.new' class='btn btn-primary btn-block'}}Add{{/link-to}}
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='list-group'>
          {{#each}}
            <p>{{title}} {{#link-to 'list.delete' this class='btn btn-warning'}}delete{{/link-to}} 
            {{#link-to 'list.edit' this class='btn'}}edit{{/link-to}}
            {{#link-to 'list' this class='btn'}}view{{/link-to}}</p>
          {{/each}}
        </div>
      </div>
    </div>