<div class='row'>
      <div class='col-md-9'>
        <h1>New List</h1>
      </div>
    </div>    
    <div class='row'>
      <label>Title</label><br />
       {{input valueBinding='title'}}<br />
      <label>Description</label><br />
       {{textarea valueBinding='description'}}
    </div>
    <div class='row'>
      <div class='col-md-6'>
       
      </div>
      <div class='col-md-3'>
        {{#link-to 'lists' class='btn btn-warning btn-block'}}Cancel{{/link-to}}
      </div>
      <div class='col-md-3'>
        <button {{action 'createList'}} class='btn btn-primary btn-block'>Save</button>
      </div>
    </div>