
  <div id="myModal" class="modal" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" {{action "close"}} aria-hidden="true">&times;</button>
            <h3>Modal</h3>
        </div>
        <div class="modal-body">
            {{yield}}
        </div>
        <div class="modal-footer">
            <button class="btn" {{action "close"}} aria-hidden="true">close</button>
        </div>
    </div>
    </div>
</div>