{{#each}}
      <div class='row'>
        <div class='col-xs-10 col-md-11'>
          {{name}}
        </div>
        <div class='col-xs-2 col-md-1'>
          {{#if isDone}}
            <button {{action 'toggleIsDone' this}} class='btn btn-success btn-block'><span class="glyphicon glyphicon-ok"></span></button>
          {{else}}
            <button {{action 'toggleIsDone' this}} class='btn btn-danger btn-block'><span class="glyphicon glyphicon-remove"></span></button>
          {{/if}}
        </div>
      </div>
    {{/each}}